$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1280;
$md1: $maxWidthContainer+12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$mainColor: #353535;
$accentColor: #1552ae;
$title: #2E2E2E;

%montserrat-800 {
  font-family: "Montserrat-ExtraBold",
    sans serif;
  font-weight: 800;
}

%montserrat-700 {
  font-family: "Montserrat-Bold",
    sans serif;
  font-weight: 700;
}

%montserrat-600 {
  font-family: "Montserrat-SemiBold",
    sans serif;
  font-weight: 600;
}

%montserrat-500 {
  font-family: "Montserrat-Medium",
  sans serif;
  font-weight: 500;
}

%montserrat-400 {
  font-family: "Montserrat-Regular",
    sans serif;
  font-weight: 400;
}

%title {
  @extend %montserrat-700;
  font-size: 30px;
  line-height: 37px;
  color: #2E2E2E;
}

%text {
  @extend %montserrat-400;
  margin: 0 auto;
  max-width: 1120px;
  line-height: 28px;
  font-size: 20px;
}

%link {
  @extend %montserrat-600;
  font-size: 17px;
  line-height: 21px;
  color: $accentColor;
  border: none;
  border-bottom: 1px solid #1552ae;
  cursor: pointer;
  padding: 5px 0;
}